@using K_haku.Core.Application.ViewModels.User
@model ForgotPasswordViewModel

@section Styles{
    <link href="~/css/User.css" rel="stylesheet" />

}
<div class="loginContainer">
    <div class="formLogin">
        <header>
            Olvide mi contraseña
        </header>
        @Html.ValidationSummary(false, "", new { @class = "error" })
        @if (Model.HasError)
        {
            <div class="alert alert-danger alert-dismissible fade show " role="alert">
                <p>@Model.Error</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form method="post" asp-controller="Account" asp-action="ForgotPassword">
            <div class="field">
                <input asp-for="Email" placeholder="Ingrese su correo electronico" />
            </div>
            <div class="buttons">
                <button>Recuperar contraseña</button>
                <a asp-controller="Account" asp-action="Index" class="btn btn-outline-warning">Atras</a>

            </div>
        </form>
    </div>
</div>