@using K_haku.Core.Application.ViewModels.User
@model LoginViewModel;

@section Styles{
    <link href="~/css/User.css" rel="stylesheet" />

}

<div class="loginContainer" >
    <div class="formLogin">
        <header>
            Login
        </header>
        @Html.ValidationSummary(false, "", new { @class = "error"})
        @if (Model.HasError) 
        { 
            <div class="alert alert-danger alert-dismissible fade show " role="alert">
                <p>@Model.Error</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    <form method="post" asp-controller="Account" asp-action="Index">
        <div class="field">
            <input asp-for="UserName" placeholder="Ingrese su usuario" />
        </div>
        <div class="field">
            <input asp-for="Password" placeholder="Ingrese su contraseña" />
        </div>
        <div class="buttons">
            <button>Ingresar</button>
            <a asp-controller="Account" asp-action="Register" class="btn btn-outline-success">Register</a>
            <a asp-controller="Account" asp-action="ForgotPassword" class="forgot">Olvide mi contraseña</a>
        </div>

    </form>
    </div>
</div>